allow zygote zygote:capability { kill };
allow zygote exported_camera_prop:file { read getattr open };
allow zygote vendor_file:file { execute getattr open read };
